@model Nettbutikk.Viewmodels.CustomerChangePassword

<div class="divChangePassword">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <h4>Endre Passord</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RepeatNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RepeatNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RepeatNewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnChangePassword" type="button" value="Lagre" class="btn btn-default" />
                    <span id="changePwMessage"></span>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#btnChangePassword").unbind("click");
        $("#btnChangePassword").on("click", function () {
            var currentPw = $("#CurrentPassword").val();
            var newPw = $("#NewPassword").val();
            var repNewPw = $("#RepeatNewPassword").val();
            console.log(newPw+" "+ repNewPw)

            if (newPw !== repNewPw) {
                $("#NewPassword").css("border", "thin solid red");
                $("#RepeatNewPassword").css("border", "thin solid red");
                $("#changePwMessage").text("Passordene er ikke like");
                return;
            }

            $("#NewPassword").css("border", "thin solid #ccc");
            $("#RepeatNewPassword").css("border", "thin solid #ccc");
            $("#changePwMessage").text("");

            console.log(currentPw+" "+newPw+" "+repNewPw);
            $.ajax({
                url: '@Url.Action("ChangePassword","Account")',
                data: {
                    CurrentPw: currentPw,
                    NewPassword: newPw
                },
                method: "POST",
                success: function (result) {
                    if (result === "True") {
                        $("#CurrentPassword").css("border", "thin solid #ccc");
                        $("#CurrentPassword").val("");
                        $("#NewPassword").val("");
                        $("#RepeatNewPassword").val("");
                        $("#changePwMessage").text("Passordet ble endret").css("color", "green");
                    }
                    if (result === "False") {
                        $("#CurrentPassword").css("border", "thin solid red");
                        $("#changePwMessage").text("Feil passord").css("color", "red");
                    }
                    
                }, error: function (result) {
                    alert("error: " + JSON.stringify(result));
                }
            })
            
        });
    })

</script>
