@using Nettbutikk.Viewmodels
@{
    OrderView Reciept = ViewBag.Reciept;
}

<div class="liOrderItem divReciept">
<h2>Kvittering</h2>
    <hr />
    <table>
        <tr><th>Ordrenummer</th><th>Produkt</th><th>Antall</th><th>Enhetspris</th><th>Totalpris</th></tr>
        @foreach (var item in Reciept.Orderlines)
        {
            var productTotal = item.Product.Price * item.Count;
            <tr>
                <td>@Reciept.OrderId</td>
                <td>@Html.ActionLink(@item.Product.ProductName, "Product", "Product", new { ProductId = item.Product.ProductId }, null)</td>
                <td>@item.Count</td>
                <td>@String.Format("{0:n}", item.Product.Price)<span>,-</span></td>
                <td>@String.Format("{0:n}", productTotal)<span>,-</span></td>


            </tr>
        }
    </table>
    <hr />
    @Html.ActionLink("Tilbake til butikk","Index","Home")
</div>
